
a{
    text-decoration: none!important;

}

a:hover{
    text-decoration: none!important;
}
/*

Definir ancho del container

*/

@media (min-width: 1201px) {
    .container{
        max-width: 1008px;
    }

    .blocky{
        display: block;
    }
}


@media (min-width: 1600px) {
    .container{
        max-width: 1150px;
    }

    .blocky-2{
        display: block;
    }

}



/*
************
Primer card
***************
*/



/******Definicion del card******/


.card-action {
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

/* Texto superior card*/

.card-action_head {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 5px;
    letter-spacing: 1px;
}

.text-prestamo {
    color: #bcd36c;
}

.text-invertir{
	color: #59bcb3;
}
/* Titulo del card */

.card-action_title {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.4px;
    color: #4a4a4a;
}


/***********Alineacion del texto en el card**************/

.card-action_text {
    padding: 10px;
}


.card-action_text-left {
    padding-right: 0;
    text-align: left;
}


.card-action_title+p {
    min-height: 45px;
}


.card-action_text-left {
    padding-right: 0;
    text-align: left;
}



.card-action_img {
    background-size: cover;
    background-position: center;
    position: relative !important;
}


.card-action_text-right {
    padding-left: 0;
    text-align: right;
}



/**** Imagen del card cortada en responsive ****/

.card-action_img-right::before {
    border-left: 30px solid white;
    left: 0;
    top: 0;
    bottom: 0;
}

.card-action_img-left::before {
    border-right: 30px solid white;
    right: 0;
    top: 0;
    bottom: 0;
}



.card-action_img::before {
    display: block;
    content: "";
    border-bottom: 250px solid transparent;
    position: absolute;
}

/************imagen del card***************/



/*
************
Segundo card
***************
*/



.card-info_img {
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: multiply;
    padding-top: 120px;
    padding-bottom: 120px;
}


.card-info_text {
    padding: 10px;
}

.card-info_head {
    text-transform: uppercase;
    font-family: 'Hind Madurai';
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.2;
}

.card-info_title {
    /*font-family: 'Montserrat';*/
    font-size: 34px;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0px;
}

.card-info {
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}








/******** Card brand **************/


.card-brand {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px;
    font-family: 'Hind Madurai';
}

.bg-success {
    background-color: #a5b961;
}

.card-brand_title {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 10px;
    letter-spacing: 0.4px;
}

.card-brand_icon+p {
    width: 90%;
    display: inline-table;
    margin-bottom: 20px;
}

.card-brand_text-box {
    min-height: 140px;
    font-size: 16px;
    font-weight: 300;
}

.bg-primary {
    background-color: #50a9a1;
}


/************Comentarios*************/


.comments {
    margin-top: 40px;
    margin-bottom: 80px;
}


.como-funciona{
	
	margin-bottom: -80px;
}



@media (max-width: 770px){
    
    .card-info_title {
        font-size: 28px;
    }

    .card-info_img{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .como-funciona{
        
        margin-bottom: 10px;
    }

}
/**** video structure ****/


.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


@media (max-width: 1200px){
    
    .video-container {
        padding-bottom:56.25%;
    }

}



@media (min-width: 1201px){
    
    .video-container iframe, .video-container object, .video-container embed {
        width:60%;
        height:60%;
        top:10%;
        left:20%;

       text-align: center;
    }

}


/***********terminos y condiciones************/


.panel-terms {
    background-color: #e6e6e6;
    padding: 16px 10px; 
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    font-style: normal;
    font-stretch: normal;
    color: #929292;
    margin-top: 20px;
    padding-bottom: 10px;}

.panel-terms .title_small{
    margin-bottom: 5px;
}

.title_small {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    color: #929292;
}


/************NOSOTROS-PAGE******************/
/************NOSOTROS-PAGE******************/
/************NOSOTROS-PAGE******************/
/************NOSOTROS-PAGE******************/



.nosotros-bg{
    background-image: url(../images/144110325.jpg);
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    
}


.config-bg{
    background-size: cover;
    background-position: center;
    position: relative !important;
    min-height: 400px;
    border-radius: 0px!important;
}


.config-bg span {
   position: absolute;
   bottom: 30px;
   left: 30px;
}


.banner-title {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.4px;
    color: #fff;
}

@media (max-width: 767px){

    .config-bg{
        min-height: 200px!important;
        margin-bottom: 0px;
    }

}

@media (max-width: 769px){

    .banner-title {
        font-size: 28px;
        font-style: normal;
        line-height: 1;
        letter-spacing: -0.4px;
        color: #fff;
    }
}

/**************************/

.angle-green{
    color: #bcd36c;
    font-size: 16px;
}

.content-bg{
    background-color: #fff;
}

.content-bg p{
    font-size: 14px !important;
    margin-bottom: 7px !important;
}

.content-standar{
    padding-left: 20px!important;
    padding-right: 20px!important;
    padding-top: 15px!important;
    padding-bottom: 20px!important;
    margin-bottom: 20px;
}

.content-standar-border{
    border: 1px solid #dadada;
}

@media (max-width: 767px){

    .content-standar-border{
        border: none;
    }
}


.content-title {
    font-size: 22px;
    font-weight: bolder;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.4px;
}

.content-standar p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.list-group-item:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.img-full{
    min-width: 100%;
    display: block;
    max-width: 100%;
}

.img-transform{
    min-width: 100%;
    display: block;
    max-width: 100%;
    height: 380px;
    object-fit: cover;
}

.btn-info-group{
    width: 100%;
    min-height: 140px;
    margin-top: 30px;
    margin-bottom: 70px;
    
}

.square-btn{
    width: 25%;
    min-height: 130px;
    float: left;
    margin-right: 2%;
}

.square-btn-green{
    background-color: #bcd36c;
}

.square-btn-blue{
    background-color: #59bcb3;
}

.square-btn span{
    display: block;
    text-align: center;
}

.rectangle-btn span{
    display: block;
    text-align: center;
}


.rectangle-btn{
    width: 46%;
    min-height: 130px;
    float: left;
    background-color: #f2f2f2;
}


@media (max-width: 767px){

    .btn-info-group{
        width: 100%;
        min-height: 280px;
        margin-top: 30px;
        margin-bottom: 70px;
        
    }

    .square-btn{
        width: 48%;
        min-height: 160px;
        float: left;
        margin-right: 1%;
        margin-left: 1%;
    }


    .rectangle-btn{
        width: 98%;
        margin-left:1%;
        margin-right: 1%;
        margin-top: 10px;
        min-height: 140px;
        background-color: #f2f2f2;
    }
}


.text-number{
    
    color: #fff;
    font-size: 60px;
}

.text-number-black{
    font-weight: bold;
    color: #333;
    font-size: 60px;
}

.text-number-under{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.millones{
    margin-bottom:0px!important;
    margin-top: -22px;
    color: #fff;
    font-size: 24px;
    
}
.ls{
    letter-spacing: 4px;
}

.text-number-under-black{
    color: #333;
    font-size: 15px;
}

.row-margin-testimonials{
    margin-top:20px;
    padding-bottom: 40px;
}

.quote-img{
    width: 50px;
    display:block;
    /* For vertical center - margin: 0 auto;
       For horizontal center - margin: auto 0px;*/
      margin: auto auto;
      padding-top: 20px;
}

.testimonial-tag{
    width: 100%;
}

.testimonial-person{
    padding-top: 24px!important;
}

.testimonial-person span{
    display: block;
    font-weight: bolder;
    color: #999;
}

.testimonial-person span.name{
    font-size: 16px;
}

.testimonial-person span.role{
    font-size: 12px;
}

.img-circle-2{
    width: 100px;
    border-radius: 100px;
    float: left;
    margin-right: 10px;
}


.container-margin-nosotros{
    margin-bottom:100px;
}

.container-margin-estandar{
    margin-bottom:80px;
}


@media (max-width: 767px){
    .columna-full{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}


/************EMPRESARIOS***************/

.empresarios-bg{
    background-image: url(../images/1.jpg);
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
}

.new-list{
    margin-bottom: 0px;
}

.grey-info{
    color: #777;
}

@media (max-width: 767px){
    .columna-full{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}

.second-jumb{
    background-image: url(../images/539122684.jpg);
    background-size: cover;
    background-position: center;
    position: relative !important;
    min-height: 400px;
    border-radius: 0px!important;
}

.download-container{
    position: absolute;
    top: 40px;
    left: 50px;
    background-color: #fff;
    max-width: 240px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;

}

.download-container-inv{
    position: absolute;
    bottom: 80px;
    left: 50px;
    background-color: #fff;
    max-width: 220px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;

}



@media (max-width: 767px){
    .download-container{
        left: 15px;
    }
    .download-container-inv{
        left: 15px;

    }
}

.download-guide{
    padding-top: 15px;
    padding-bottom: 15px;
}

.icon-cloud{
    color: #bcd36c;
    font-size: 40px;
    float: left;
    margin-right: 10px;
}

.text-descarga{
    color: #bcd36c;
    font-size: 16px;
    font-weight: bolder;
    line-height: 0.5;
}



/***********Como funciona*******************/

.como-funciona-slide{
    margin: 20px 0px; 
    background-color: #fff;
    padding: 15px; 
    height: 340px;
    border: 1px solid  #dadada;
    border-radius: 5px;
}

.como-funciona-slide img{

    width: 100px;

}

.text-como-funciona-slide{
    color: #bcd36c;
    font-weight: bold;
    font-size: 24px;
}

.text-como-funciona-slide-turquesa{
    color: #59bcb3;
    font-weight: bold;
    font-size: 24px;
}


@media (max-width: 767px){

    .como-funciona-slide img{
        width: 120px!important;
    }

    .como-funciona-slide{
        height: 500px;
    }
}


/**************Linea separadora***************/

.separator{
        width: 100%;
        height: 200px;
        padding-top: 50px;
        padding-bottom: 25px;
        background-color: #B4CA68;
    }

.separator-1{
        background-color: #52ACA3!important;
    }

@media (max-width: 767px){

    .separator{
        height: 210px;
    }

}

.separator p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.separator p span{
    display: block;
}


.btn-separator{
    margin-top: 15px;
    padding-left: 55px!important;
    padding-right: 55px!important;
}

/********eSeccion preguntas************/

.preguntas{
    margin-top: 70px;
    margin-bottom: 80px;
}

@media (max-width: 767px){

    .preguntas{
        margin-top: 35px;
        margin-bottom: 40px;
    }
}


.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-group .panel + .panel {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-heading {
    padding: 15px 15px;
    cursor: pointer;
}

.panel-default a{
    text-decoration: none;

}


.margin-down-for-title{
    margin-bottom: 40px;
}

.white-start{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;

}

/***Jumbotron config***/

@media screen and (min-width: 768px){

    .container .jumbotron, .container-fluid .jumbotron {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }

}

@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }
}



/************INVERSIONISTAS***************/

.empresarios-bg{
    background-image: url(../images/1.jpg);
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
}

.inversores-bg{
    background-image: url(../images/2.jpg);
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
}


/***************Modal*****************/

.modal-content {
    position: relative;
    background-color: #f2f2f2;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.content-title-green{
    font-size: 22px;
    font-weight: bolder;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.4px;
    color: #bcd36c;
}

.list-modal{
    margin-bottom: 5px;
}


/*********formulario**********/
.cont-botones{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.cont-monedas{
    width: 100%;
    height: 40px;
}

.cont-tiempos{
    width: 100%;
    height: 40px;
}

.cont-botones .boton-grande-verde{
    width: 48%;
    margin: 1%;
    background-color: #fff;
    color: #bcd36c;
    font-size: 16px;
    min-height: 60px;
    float: left;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #bcd36c;
    padding-top: 5px;
    cursor: pointer;
}

.cont-botones .boton-grande-verde:hover{
    background-color: #bcd36c!important;
    color: #fff!important;
}

.cont-botones-icono{
    font-size: 30px;
}

span.cont-botones-titulo{
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.exclamation-form{
    color: #55C0E0;
    font-size: 20px;
    position: relative;
    top: 6px;
}

.opciones-pequenas{
    width: 28%;
    float: left;
    margin-right: 1%;

}

.form-moneda{
    width: 70%;
    float: left;
    margin-left: 1%;
}

.monedas{
    min-width: 48%;
    background-color: #fff;
    color: #bcd36c;
    font-size: 14px;
    font-weight: 300;
    min-height: 34px;
    float: left;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #bcd36c;
    padding-top: 0px;
    cursor: pointer;
}

.monedas:hover{
    background-color: #bcd36c!important;
    color: #fff!important;
}

.monedas span{
   position: relative;
   top:7px;
}

.monedas-dolares{
    margin-right: 4%;
}


















.tiempos-form{
    min-width: 21%;
    background-color: #fff;
    color: #bcd36c;
    font-size: 14px;
    font-weight: 300;
    min-height: 34px;
    float: left;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #bcd36c;
    padding-top: 0px;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
}

.tiempos-form:hover{
    background-color: #bcd36c!important;
    color: #fff!important;
}

.tiempos-form span{
   position: relative;
   top:7px;
}


.btn-prestamo-form-absolute{
    margin-top: 20px;
    margin-bottom: 10px;
}

/**************Titulo jumbotron compatibilidad********************/

div.salto{
    display: block

}

div.salto-2{
 display: inline-block;

}


@media (max-width: 769px){
    div.salto{
        display: block
    }

    div.salto-2{
        display: block
    }

}

.filter-black{
    background-color: red;

}

/**********Esta clase va para cuando se le haga click******/
.active-icono{
    background-color: #bcd36c!important;
    color: #fff!important;
}



.filter-black{
    background-color: red;

}

.card-action_extra_parrafo{
    font-size: 17px;
    color: #929292 !important;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1.2;
}

@media (min-width: 1201px){
    
    .card-action_extra_titulo{
        font-size: 41.4px!important;
    }

    .card-action_extra_parrafo{
        font-weight: 300!important;
    }

    

    .ajuste-btn{
        float: right;
        width: 50%!important;
    }

}
.ajustar{
        padding-right: 0px!important;
        padding-left: 0px!important;
    }

.crecimiento-c{
    font-weight: 400!important;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 11px!important;
    margin-bottom: 15px;
}

.new-card-info_text {
    padding: 20px 20px;
    font-size: 17px;
    color: #828282;
    font-weight: 300;
    line-height: 1.5;
}


.btn-block-new{
    width: 90%!important;
}