.bullet{
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 70px;
	margin-top: 40px;
	position: relative;
}

.ugly-line{
	width: calc(100% - 75px);
	height: 3.5px;
	background: rgba(0,0,0,0.15);
	position: absolute;
	top: 8.25px;
	left: 35px;
	z-index: -10;
}

.visi-line{
	height: 3.5px;
	background: #59BCB3;
	position: absolute;
	top: 8.25px;
	left: 35px;
	z-index: -5;
}

.visi-033{width: calc((100% - 75px)/3);}
.visi-066{width: calc((100% - 75px)*2/3);}
.visi-099{width: calc(100% - 75px);}

.point{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: white;
	margin-right: 30px;
	margin-left: 30px;
	position: relative;
	text-align: center;
	color: rgba(0,0,0,0.5);
}

.point p{
	position: absolute;
	top: 20px;
	font-size: 12px;
	width: 150px;
	left: -70px;
	
}

.point-visited{
	background: #59BCB3;
	color: #59BCB3;
}

.point-now{
	color: #BCD36C;
	background: #BCD36C;
	height: 15px;
	width: 15px;
	top: 2.5px;
}
