#right-flotante{
	position: absolute;
	right: 20px;
	top: 220px;
	z-index: 100;
}

#right-flotante div.content-standar{
	padding: 20px !important;
	padding-top: 10px;
}

.div-relative{
	position: relative;
}

#col-hidden{
	visibility: hidden;
}

#mobil-hidden{
	margin-top: 50px;
}

#fullpage{
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.flotante-warning{
	background: #D6F7F5;
	padding: 10px;
	font-size: 13px;
	border-radius: 5px;
}

.tablet-gap{
	position: relative;
	top: -220px;
	padding-right: 30px;
	margin-bottom: -220px;
}

@media screen and (max-width: 992px) {
	#right-flotante{
		display: none;
	}
}