.new_cover{
	height: 400px;
}

.new_body{
	padding-top: 80px;
}

.wborder {
	border: 1px solid black;
	padding: 20px;
	margin: 0px;
}

#theform{
	position: absolute;
	border: 1px solid black;
	top: 100px;
	background: white;
	right: 20px;
}

.relative{
	position: relative;
}

@media (max-width: 992px) {
	#theform{
		position: absolute;
		border: 1px solid black;
		background: white;
		right: 20px;
		top: auto;
		height: auto;
		bottom: 0px;
	}
	.sm-relative{
		position: relative;
		border: 1px solid black;
	}
}

@media (max-width: 767px) {
	#theform{
		position: static;
		border: 1px solid black;
		background: white;
		right: 20px;
		width: auto;
	}
}