@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

body{
	font-family: 'Butler', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.logoop{
	/*text-align: center;*/
	margin-top: 10px;
	margin-left: 15px;
}

.logoop a{
	color: white !important;
	text-decoration: none !important;
}

.logoop img{
	/*height: 32px;*/
}

.cover{
	color: #fff;
	text-align: center;
	margin-top: 125px;
	margin-bottom: 60px;
}

h1{
	font-size: 80px;
	line-height: 1.1;
	font-weight: 300;
	color: #D02C3D;
	color: white;
	margin-bottom: 90px;
}

h1 span{
	opacity: 0;
}

h2{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-bottom: 25px;
	/*color: #D02C3D;*/
}

h3{
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	/*color: #D02C3D;*/
	color: #FE2634;
	/*opacity: 0.5;*/
}

.parag{
	font-weight: 400;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.parag span{
	color: #FE2634;
}

.button{
	display: inline-block;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	text-align: left;
	/*border-bottom: 1px solid white;
	/*padding: 15px 10px;*/
	margin-top: 60px;
	margin-bottom: 60px;
	font-family: 'Roboto', sans-serif;
	color: #FE2634 !important;
	text-decoration: none !important;
}

.button i{
	font-size: 25px;
	position: relative;
	top: 2px;
	border: 1px solid #FE2634;
	border-radius: 30px;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	padding-top: 12.2px;
	padding-left: 1px;
	margin-right: 5px;
}

.aleft{
	text-align: left;
}

.aright{
	text-align: right;
}

.new{
	background: white;
	color: white;
	max-width: 800px;
	margin: 0 auto;
	border: 2px solid #FE2634;
	margin-bottom: 30px;
	cursor: pointer;
}

.new .content{
	font-family: 'Roboto', sans-serif;
}

.new .content .date{
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	color: #fff;
	opacity: 0.6;

}

.new .content .bajada{
	opacity: 0.6;
	color: white;
	font-size: 15px;
	margin-bottom: 0px;
	letter-spacing: 0.4px;
}

.content{
	background: url(http://www.christianitytoday.com/images/77439.png?w=700) center center;
	background-size: cover;
}

.img2{
	background: url(http://ojo-publico.com/sites/default/files/editor/u67/laguna_pac_-_orilla_-_zona_lateral_-_inicio_de_sembrio_de_totora.jpg) center center;
	background-size: cover;
}

.img3{
	background: url(http://ojo-publico.com/sites/default/files/editor/u67/cuenca_rimac_andina.jpg) center center;
	background-size: cover;
}

.fil{
	height: 280px;
	min-height: 280px;
	background: rgba(20,20,20,0.8);
	position: relative;
}

.new h4{
	font-size: 40px;
	margin-top: 0px;
	font-weight: 400;
	font-family: 'Butler', sans-serif;
	color: #fff;
	margin-bottom: 5px;
}

.bott{
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding: 15px;
}

.tag{
	font-size: 15px;
	/*text-transform: uppercase;*/
	padding: 25px;
	padding-top: 20px;
	letter-spacing: 0.6px;
	font-weight: 500;
	color: #FE2634;
}

.footer{
	padding: 20px 10px;
	font-family: 'Roboto', sans-serif;
	color: #999999;
	border-top: 1px solid #999999;
}