@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0px;
	background: #F4F4F4;
}

.container{
	max-width: 900px;
}

body{
	font-family: 'Roboto', sans-serif;
}

.row > div{
	padding: 0px;
}

.nav{
	padding: 20px;
	text-align: right;
	font-weight: 40;
	font-size: 20px;
	padding-top: 50px;
	font-weight: 500;
}

.nav a{
	display: block;
	font-size: 13px;
	text-decoration: none;
	font-weight: 400;
	color: #65AE81;
}

.title{
	background: white;
	padding: 200px 20px;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.2;
}

.title p{
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	max-width: 200px;
	margin-top: 30px;
	letter-spacing: 1px;
	line-height: 1.5;
}

.homer-img{
	background: url(img/homer.jpeg) center center;
	background-size: cover;
	height: 400px;
	position: relative;
	top: -130px;
	margin-bottom: -130px;
}

.desc{
	background: #62AF81;
	padding: 20px;
	padding-top: 140px;
	padding-bottom: 50px;
	color: white;
	font-weight: 400;
	font-size: 18px;
	height: 270px;
	position: relative;
}

.desc span{
	font-weight: 700;
}

.desc > .numb, .poems > .numb{
	position: absolute;
	top: 0px;
	right: 0px;
	background: white;
	color: black;
	padding: 20px 25px;
	font-size: 11px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

.poems{
	position: relative;
	padding: 70px 20px;
	font-family: 'Lora', sans-serif;
	font-size: 17px;

}

.red{
	background: #E9383D;
	color: white;
}

.blue{
	background: #C0DFE3;
	color: black;
}