@font-face {
  font-family: unicon;
  src: url(fonts/universltstd-cn.ttf); }
@font-face {
  font-family: uniboldcon;
  src: url(fonts/UniversLTStd-BoldCn.otf); }
@font-face {
  font-family: unilight;
  src: url(fonts/univers-lt-std-45-light.otf); }
@font-face {
  font-family: uninormal;
  src: url(fonts/universltstd-bold.ttf); }
@font-face {
  font-family: unilightcn;
  src: url(fonts/UniversLTStd-LightCn.otf); }
body {
  background-color: transparent;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "unicon"; }

div {
  box-sizing: border-box; }

a, a:hover {
  text-decoration: none; }

input, textarea {
  outline: none; }

.clasico-rojo {
  background-color: #dd1100;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 21px;
  font-family: unicon;
  text-transform: uppercase;
  color: #fff; }

.clasico-rojo:hover {
  background-color: #AA0D00; }

.pin-inferior {
  width: 47px;
  height: 7px;
  border: solid 4px; }

.pin-red-centro {
  border-color: #e12f34;
  margin: 0 auto; }

.pin-red {
  border-color: #e12f34;
  margin: 15px 0px 20px 0px; }

.pin-blanco {
  border-color: #fff;
  margin: 15px 0px 20px 0px; }

.pin-blanco-centro {
  border-color: #fff;
  margin: 15px auto 20px auto; }

.kerm-bg-home-1 {
  background-image: url("../img/home/jkmnm-3-cincw-yutacar.jpg");
  height: 100vh; }

.kerm-bg-home-2 {
  background-image: url("../img/home/3-vessel-b-h-multi-board-detail.jpg");
  height: 490px; }
  @media screen and (max-width: 767px) {
    .kerm-bg-home-2 {
      height: 420px; } }

.kerm-bg-home-3 {
  background-image: url("../img/home/d-s-c-6365.jpg");
  height: 371px; }
  @media screen and (max-width: 767px) {
    .kerm-bg-home-3 {
      height: 450px; } }

.kerm-bg-contact-1 {
  background-image: url("../img/contact/t-6-fdn-60-bmwy-edho-pratama.jpg");
  height: 724px; }
  @media screen and (max-width: 767px) {
    .kerm-bg-contact-1 {
      height: 100vh; } }

.kerm-bg-about-1 {
  background-image: url("../img/about/14596-796066743784828-8048713775133760448-n.jpg");
  height: 701px; }
  @media screen and (max-width: 767px) {
    .kerm-bg-about-1 {
      height: 100vh; } }

.kerm-bg-about-2 {
  background-image: url("../img/about/14596-796066743784828-8048713775133760448-n.jpg");
  height: 481px; }
  @media screen and (max-width: 767px) {
    .kerm-bg-about-2 {
      height: 441px; } }

.kerm-bg-quality-1 {
  background-image: url("../img/quality/10687221-796066877118148-2555837646827669725-n.jpg");
  height: 622px; }
  @media screen and (max-width: 767px) {
    .kerm-bg-quality-1 {
      height: 100vh; } }

.kerm-bg-quality-2 {
  background-image: url("../img/quality/micro-matic-valves.jpg");
  height: 706px; }
  @media screen and (max-width: 767px) {
    .kerm-bg-quality-2 {
      height: 100vh; } }

.kerm-bg-lease-1 {
  background-image: url("../img/lease/top-view-keg.jpg");
  height: 706px; }
  @media screen and (max-width: 767px) {
    .kerm-bg-lease-1 {
      height: 100vh; } }

.kerm-container {
  width: 100%;
  padding-top: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  color: #fff; }
  .kerm-container div.first-center {
    margin-top: 30%;
    margin-top: 20%; }
  .kerm-container div.second-center {
    margin-top: 25%; }
  .kerm-container div.third-center {
    margin-top: 15%; }
    @media screen and (max-width: 767px) {
      .kerm-container div.third-center {
        margin-top: 5%; } }
  .kerm-container h1 {
    font-size: 48px;
    margin-bottom: 20px; }
  .kerm-container h1 span {
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase; }
  .kerm-container h2 {
    font-size: 46px;
    line-height: 1.15; }
    @media screen and (max-width: 767px) {
      .kerm-container h2 {
        font-size: 36px; } }
  .kerm-container h2 span {
    font-size: 52px;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .kerm-container h2 span {
        font-size: 48px; } }
  .kerm-container h2 small {
    margin-top: 30px;
    display: block;
    width: 254px;
    font-family: unilight;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    letter-spacing: 0.4px; }
    @media screen and (max-width: 767px) {
      .kerm-container h2 small {
        font-size: 16px; } }
  .kerm-container button {
    background-color: #dd1100;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 21px;
    color: #fff; }
  .kerm-container button:hover {
    background-color: #AA0D00; }
  .kerm-container button.boton-margin {
    margin: 30px 0px;
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 60px; }

.kerm-blanco {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*******Quality******** */ }
  .kerm-blanco .titulo-general {
    margin-bottom: 30px; }
  .kerm-blanco div.desc-centro {
    margin: 100px 0px; }
  .kerm-blanco div.desc-centro-1 {
    margin: 60px 0px;
    text-align: center; }
  .kerm-blanco div.desc-centro-2 {
    margin: 30px 0px; }
  .kerm-blanco h2 {
    font-family: uniboldcon;
    color: #dd1100;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase; }
  .kerm-blanco p {
    font-family: unilight;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-align: center;
    color: #7c7979; }
  .kerm-blanco .componente {
    position: relative; }
    .kerm-blanco .componente .bg-q-1 {
      background-image: url("../img/quality/items/screen-shot-2017-02-21-at-13328-p-m.jpg"); }
    .kerm-blanco .componente .bg-q-2 {
      background-image: url("../img/quality/items/5.jpg"); }
    .kerm-blanco .componente .bg-q-3 {
      background-image: url("../img/quality/items/949691.jpg"); }
    .kerm-blanco .componente .bg-q-4 {
      background-image: url("../img/quality/items/949691.jpg"); }
    .kerm-blanco .componente .bg-q-5 {
      background-image: url("../img/quality/items/1418194819-1.jpg"); }
    .kerm-blanco .componente .bg-q-6 {
      background-image: url("../img/quality/items/6.jpg"); }
    .kerm-blanco .componente .bg-q-7 {
      background-image: url("../img/quality/items/1418194613-1.jpg"); }
    .kerm-blanco .componente .bg-q-8 {
      background-image: url("../img/quality/items/1418194613-1.jpg"); }
    .kerm-blanco .componente .bg-q {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow-y: hidden;
      height: 273px;
      width: 100%;
      margin-bottom: 25px; }
      .kerm-blanco .componente .bg-q .nombre-componente {
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 70px;
        background-color: #dd1100;
        padding: 10px 15px;
        font-family: unicon;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #ffffff; }

.kerm-blanco-1 {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .kerm-blanco-1 .titulo-general {
    margin-bottom: 30px; }
  .kerm-blanco-1 div.desc-centro-1 {
    margin: 60px 0px;
    text-align: center; }
  .kerm-blanco-1 h2 {
    font-family: uniboldcon;
    color: #dd1100;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px; }
    @media screen and (max-width: 767px) {
      .kerm-blanco-1 h2 {
        font-size: 22px; } }
  .kerm-blanco-1 h3 {
    font-family: unicon;
    color: #dd1100;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 20px; }
    @media screen and (max-width: 767px) {
      .kerm-blanco-1 h3 {
        margin-bottom: 15px; } }
  .kerm-blanco-1 p {
    font-family: unilight;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-align: center;
    color: #7c7979; }

.bottom-triangle:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 50px #fff;
  border-left: solid 100px transparent;
  border-right: solid 100px transparent; }

.kerm-rojo {
  width: 100%;
  background-color: #dd1100;
  /**quality*** */ }
  .kerm-rojo div.desc-centro {
    margin: 100px 0px 50px 0px;
    width: 100%; }
  .kerm-rojo .bloque-icon {
    width: 33.15%;
    box-sizing: border-box;
    border: none;
    padding: none;
    display: inline-block;
    text-align: center;
    margin: 30px 0px; }
    @media screen and (max-width: 1250px) {
      .kerm-rojo .bloque-icon {
        width: 33%; } }
    @media screen and (max-width: 767px) {
      .kerm-rojo .bloque-icon {
        width: 100%; } }
  .kerm-rojo .bloque-icon p {
    margin: 15px 0px;
    font-family: uniboldcon;
    font-size: 16px;
    letter-spacing: 1.3px;
    color: #000;
    text-transform: uppercase; }
  .kerm-rojo .beneficio {
    margin: 60px 0px; }
    .kerm-rojo .beneficio .title-margin {
      margin-bottom: 30px; }
    .kerm-rojo .beneficio h2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      font-family: uniboldcon; }
    .kerm-rojo .beneficio .lista-beneficio {
      width: 100%;
      margin: 10px 0px; }
      .kerm-rojo .beneficio .lista-beneficio .beneficio-texto {
        width: 65%;
        display: inline-block;
        color: #fff;
        font-family: unilight;
        font-size: 14px; }
      .kerm-rojo .beneficio .lista-beneficio .beneficio-img {
        width: 30%;
        text-align: right;
        display: inline-block; }
        .kerm-rojo .beneficio .lista-beneficio .beneficio-img img {
          position: relative;
          top: -25px; }
        .kerm-rojo .beneficio .lista-beneficio .beneficio-img img#process {
          left: 5px;
          top: -15px; }
        .kerm-rojo .beneficio .lista-beneficio .beneficio-img img#magnifying-glass {
          left: 5px; }
        .kerm-rojo .beneficio .lista-beneficio .beneficio-img img#barrel {
          top: -45px; }
        .kerm-rojo .beneficio .lista-beneficio .beneficio-img img#speedometer {
          top: -10px;
          left: 5px; }
        .kerm-rojo .beneficio .lista-beneficio .beneficio-img img#quality {
          top: -15px;
          left: 13px; }
        .kerm-rojo .beneficio .lista-beneficio .beneficio-img img#close-button {
          top: -13px;
          left: 5px; }
        .kerm-rojo .beneficio .lista-beneficio .beneficio-img img#bookmark-button {
          top: -15px;
          left: 5px; }

.kerm-bg-home-2 h2 {
  font-family: uniboldcon;
  font-size: 30px; }
.kerm-bg-home-2 p {
  font-family: unilight;
  font-size: 19px; }
.kerm-bg-home-2 div.first-center {
  margin-top: 10%; }

.kerm-bg-home-3 {
  text-align: center; }
  .kerm-bg-home-3 h2 {
    font-family: unicon;
    font-size: 30px; }
  .kerm-bg-home-3 p {
    font-family: unilight;
    font-size: 19px; }
  .kerm-bg-home-3 div.first-center-1 {
    margin-top: 1%; }
    @media screen and (max-width: 767px) {
      .kerm-bg-home-3 div.first-center-1 {
        margin-top: 0px; } }
  .kerm-bg-home-3 form {
    width: 100%; }
    .kerm-bg-home-3 form input {
      height: 49px;
      width: 410px;
      border: none;
      border-radius: 5px;
      color: #747474;
      font-size: 21px;
      font-family: unicon;
      padding-left: 15px;
      padding-right: 15px;
      outline: none; }
      @media screen and (max-width: 767px) {
        .kerm-bg-home-3 form input {
          width: 100%;
          margin-bottom: 15px; } }
    .kerm-bg-home-3 form button {
      padding-left: 35px;
      padding-right: 35px; }
    .kerm-bg-home-3 form div input#checkbox_id {
      height: 20px;
      width: 20px;
      position: relative;
      top: 5px; }
    .kerm-bg-home-3 form div label {
      font-size: 14px;
      line-height: 1.86;
      color: #fff;
      font-family: unilight !important; }

.kerm-gris {
  background-color: #efefef;
  padding: 100px 0px;
  /****Contact***** */ }
  @media screen and (max-width: 1250px) {
    .kerm-gris {
      padding: 25px 0px; } }
  @media screen and (max-width: 1250px) and (max-width: 767px) {
    .kerm-gris {
      padding: 25px 0px; } }

  .kerm-gris .class-flotante {
    position: relative;
    top: -150px;
    margin-bottom: -150px; }
    @media screen and (max-width: 767px) {
      .kerm-gris .class-flotante {
        top: 0px;
        margin-bottom: 0px; } }
  .kerm-gris .clasico-rojo {
    float: right; }
  .kerm-gris .item-product {
    border: solid 1px #ebebeb;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    min-height: 239px;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .kerm-gris .item-product {
        padding-bottom: 20px; } }
  .kerm-gris .item-imagen {
    width: 35%;
    padding: 15px 0px;
    text-align: center;
    float: left; }
    @media screen and (max-width: 767px) {
      .kerm-gris .item-imagen {
        width: 100%; } }
  .kerm-gris .item-descripcion {
    width: 64%;
    display: inline-block; }
    @media screen and (max-width: 767px) {
      .kerm-gris .item-descripcion {
        width: 100%; } }
  .kerm-gris .item-descripcion h2.item-title {
    font-family: uniboldcon;
    color: #ec2300;
    font-size: 28px; }
  .kerm-gris .item-descripcion-list {
    width: 100%; }
  .kerm-gris .item-descripcion-list .block-list {
    display: block;
    clear: both; }
  .kerm-gris .item-descripcion-list .primer-list {
    width: 40%;
    float: left;
    color: #5c5f5f;
    line-height: 1.85;
    font-size: 13px;
    font-family: uniboldcon; }
    @media screen and (max-width: 767px) {
      .kerm-gris .item-descripcion-list .primer-list {
        width: 55%; } }
  .kerm-gris .item-descripcion-list .segundo-list {
    width: 60%;
    float: left;
    line-height: 1.71;
    font-family: unilight;
    font-size: 14px; }
    @media screen and (max-width: 767px) {
      .kerm-gris .item-descripcion-list .segundo-list {
        width: 45%; } }
  .kerm-gris .item-descripcion-list .cotizar-btn {
    top: 10px;
    position: relative;
    text-align: right;
    font-family: uniboldcon;
    letter-spacing: 1.2px;
    color: #e02616;
    font-size: 15px;
    text-transform: uppercase; }
  .kerm-gris .item-descripcion-list .cotizar-btn img {
    position: relative;
    top: -2.8px;
    left: -3px; }
  .kerm-gris .class-flotante .anuncio {
    width: 100%;
    border-radius: 5px;
    background-color: #dd1100;
    padding: 30px 30px; }
    @media screen and (max-width: 991px) {
      .kerm-gris .class-flotante .anuncio {
        margin-top: 250px; } }
    @media screen and (max-width: 767px) {
      .kerm-gris .class-flotante .anuncio {
        margin-top: 100px; } }
    .kerm-gris .class-flotante .anuncio h2 {
      font-size: 18px;
      font-family: uniboldcon;
      color: #fff;
      margin: 0px 0px 20px 0px; }
    .kerm-gris .class-flotante .anuncio p {
      font-size: 17px;
      font-family: unilight;
      line-height: 1.18;
      color: #fff; }
    .kerm-gris .class-flotante .anuncio form input {
      font-size: 14px;
      width: 100%;
      color: #fff;
      font-family: uniboldcon;
      background: transparent;
      border: solid 1px #fff;
      border-radius: 5px;
      height: 40px;
      outline: none;
      padding-left: 10px;
      padding-right: 10px;
      text-transform: uppercase; }
    .kerm-gris .class-flotante .anuncio form ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .kerm-gris .class-flotante .anuncio div.button-right {
      text-align: right; }
      .kerm-gris .class-flotante .anuncio div.button-right button.enviar {
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        font-family: uniboldcon;
        letter-spacing: 0.9;
        font-size: 15px;
        color: #fff;
        margin-top: 15px; }
        .kerm-gris .class-flotante .anuncio div.button-right button.enviar img {
          margin-right: 10px; }
  .kerm-gris .contacto h2 {
    margin-bottom: 25px;
    font-family: unicon;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #dd1100; }
  .kerm-gris .contacto .formulario-contacto {
    border-radius: 10px;
    background-color: #fff;
    max-height: 900px;
    padding: 20px 20px; }
  .kerm-gris .contacto form h3 {
    font-family: uninormal;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #757575; }
  .kerm-gris .contacto form input {
    display: block;
    font-family: unilight;
    font-size: 18px;
    color: #b6b6b6;
    line-height: 1.22;
    margin-bottom: 10px;
    border: solid 2px #acacac;
    border-radius: 10px;
    height: 50px;
    padding-left: 15px;
    width: 300px; }
    @media screen and (max-width: 767px) {
      .kerm-gris .contacto form input {
        width: 100%; } }
  .kerm-gris .contacto form textarea {
    display: block;
    font-family: unilight;
    font-size: 18px;
    color: #b6b6b6;
    line-height: 1.22;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 2px #acacac;
    width: 100%;
    height: 180px;
    padding: 15px 15px; }
  .kerm-gris .contacto form button {
    width: 346px;
    height: 50.4px;
    border-radius: 5px;
    background-color: #dd1100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: none;
    margin: 20px 0px;
    font-family: uninormal;
    font-size: 18px;
    color: #fff;
    line-height: 1.22; }
    @media screen and (max-width: 767px) {
      .kerm-gris .contacto form button {
        width: 100%; } }
    .kerm-gris .contacto form button:hover {
      background-color: #AA0D00; }
  .kerm-gris .contacto div.contacto-gris {
    width: 100%;
    min-height: 470px;
    border-radius: 10px;
    background-color: #434343;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;
    padding: 50px 0px; }
    @media screen and (max-width: 1250px) {
      .kerm-gris .contacto div.contacto-gris {
        margin-left: 0px;
        margin-top: 60px; } }
    @media screen and (max-width: 767px) {
      .kerm-gris .contacto div.contacto-gris {
        margin-left: 0px;
        margin-right: 0px; } }
    .kerm-gris .contacto div.contacto-gris div.boton {
      position: relative;
      text-align: center;
      top: 10px; }
      .kerm-gris .contacto div.contacto-gris div.boton button {
        width: 300px;
        float: none;
        text-transform: none; }
        @media screen and (max-width: 767px) {
          .kerm-gris .contacto div.contacto-gris div.boton button {
            width: 100%; } }
    .kerm-gris .contacto div.contacto-gris div.linea {
      display: block;
      width: 100%;
      clear: both; }
      .kerm-gris .contacto div.contacto-gris div.linea .linea-imagen {
        width: 40%;
        text-align: center;
        float: left; }
        @media screen and (max-width: 767px) {
          .kerm-gris .contacto div.contacto-gris div.linea .linea-imagen {
            width: 100%; } }
        .kerm-gris .contacto div.contacto-gris div.linea .linea-imagen .telefono {
          position: relative;
          top: 12px; }
        .kerm-gris .contacto div.contacto-gris div.linea .linea-imagen .persona {
          position: relative;
          top: 12px; }
      .kerm-gris .contacto div.contacto-gris div.linea .linea-texto {
        width: 50%;
        font-family: unilight;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #ffffff;
        float: left; }
        @media screen and (max-width: 767px) {
          .kerm-gris .contacto div.contacto-gris div.linea .linea-texto {
            width: 100%; } }
      .kerm-gris .contacto div.contacto-gris div.linea address {
        margin-bottom: 40px; }
        @media screen and (max-width: 767px) {
          .kerm-gris .contacto div.contacto-gris div.linea address {
            margin-top: 20px;
            width: 100%;
            text-align: center; } }
  .kerm-gris div.mensaje-quality {
    text-align: center; }
    .kerm-gris div.mensaje-quality p {
      font-family: unilight;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;
      color: #494949; }
    .kerm-gris div.mensaje-quality .margin-button-top {
      margin-top: 60px; }
      @media screen and (max-width: 767px) {
        .kerm-gris div.mensaje-quality .margin-button-top {
          margin-top: 30px; } }
    .kerm-gris div.mensaje-quality .button-center {
      text-align: center; }
      .kerm-gris div.mensaje-quality .button-center button {
        background-color: #dd1100;
        padding: 10px 60px;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border: none;
        font-size: 21px;
        font-family: unicon;
        text-transform: uppercase;
        color: #fff; }
        @media screen and (max-width: 767px) {
          .kerm-gris div.mensaje-quality .button-center button {
            font-size: 18px; } }
        .kerm-gris div.mensaje-quality .button-center button:hover {
          background-color: #AA0D00; }

.kerm-gris-medio-oscuro {
  background-color: #e3e3e3;
  padding: 100px 0px; }
  @media screen and (max-width: 767px) {
    .kerm-gris-medio-oscuro {
      padding: 25px 10px 45px 10px; } }
  .kerm-gris-medio-oscuro .caja {
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .kerm-gris-medio-oscuro .caja {
        margin: 40px 0px; }
        .kerm-gris-medio-oscuro .caja:last-child {
          margin-bottom: -20px; } }
    .kerm-gris-medio-oscuro .caja h3 {
      font-family: unicon;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #dd1100; }
    .kerm-gris-medio-oscuro .caja p {
      font-family: unilight;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;
      color: #8a8c8c; }
    .kerm-gris-medio-oscuro .caja img {
      max-height: 77px; }
  .kerm-gris-medio-oscuro .margin-button-top {
    margin-top: 60px; }
  .kerm-gris-medio-oscuro .button-center {
    text-align: center;
    display: block; }
    .kerm-gris-medio-oscuro .button-center button {
      background-color: #dd1100;
      padding: 10px 60px;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border: none;
      font-size: 21px;
      font-family: unicon;
      text-transform: uppercase;
      color: #fff; }
      .kerm-gris-medio-oscuro .button-center button:hover {
        background-color: #AA0D00; }
      @media screen and (max-width: 767px) {
        .kerm-gris-medio-oscuro .button-center button {
          font-size: 18px; } }

/**********about******** */
.kerm-gris-oscuro {
  background-color: #434343;
  position: relative; }
  .kerm-gris-oscuro .desc-centro {
    margin: 40px 0px; }
    .kerm-gris-oscuro .desc-centro h2 {
      text-align: center;
      margin-top: 0px;
      font-family: unilight;
      color: #fff;
      font-size: 28px; }
    .kerm-gris-oscuro .desc-centro ul {
      list-style-type: none; }
      .kerm-gris-oscuro .desc-centro ul li {
        font-family: unilight;
        color: #ffffff;
        line-height: 1.43;
        font-weight: 300;
        letter-spacing: 0.4px; }

.bottom-triangle-gris-oscuro:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 50px #434343;
  border-left: solid 100px transparent;
  border-right: solid 100px transparent; }

.kerm-estructura {
  width: 100%; }
  .kerm-estructura .unidad-larga {
    width: 100%; }
    .kerm-estructura .unidad-larga .bg {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      @media screen and (max-width: 767px) {
        .kerm-estructura .unidad-larga .bg {
          width: 20% !important;
          float: left; } }
    .kerm-estructura .unidad-larga .bg-unidad-1 {
      background-image: url("../img/about/unidad/i-m-g-0400.jpg"); }
    .kerm-estructura .unidad-larga .bg-unidad-2 {
      background-image: url("../img/about/unidad/standard-kegs-zhi.jpg"); }
    .kerm-estructura .unidad-larga .bg-unidad-3 {
      background-image: url("../img/about/unidad/10540786-796066753784827-2602715198733431663-n.jpg"); }
    .kerm-estructura .unidad-larga .bg-unidad-4 {
      background-image: url("../img/about/unidad/f-v-rear-2.jpg"); }
    .kerm-estructura .unidad-larga .medida-1 {
      height: 598px;
      padding: 70px 35px 50px 100px; }
      @media screen and (max-width: 1250px) {
        .kerm-estructura .unidad-larga .medida-1 {
          height: 840px; } }
      @media screen and (max-width: 767px) {
        .kerm-estructura .unidad-larga .medida-1 {
          height: 758px;
          padding: 45px 15px 25px 15px; } }
  @media screen and (max-width: 767px) and (max-width: 359px) {
    .kerm-estructura .unidad-larga .medida-1 {
      height: 838px;
      padding: 45px 15px 25px 15px; } }

    .kerm-estructura .unidad-larga .medida-2 {
      height: 278px;
      padding: 50px 35px 50px 100px; }
      @media screen and (max-width: 1250px) {
        .kerm-estructura .unidad-larga .medida-2 {
          height: 440px; } }
      @media screen and (max-width: 767px) {
        .kerm-estructura .unidad-larga .medida-2 {
          height: 378px;
          padding: 45px 15px 25px 15px; } }
  @media screen and (max-width: 767px) and (max-width: 359px) {
    .kerm-estructura .unidad-larga .medida-2 {
      height: 438px;
      padding: 45px 15px 25px 15px; } }

    .kerm-estructura .unidad-larga .medida-3 {
      height: 296px;
      padding: 50px 35px 50px 100px; }
      @media screen and (max-width: 1250px) {
        .kerm-estructura .unidad-larga .medida-3 {
          height: 400px; } }
      @media screen and (max-width: 767px) {
        .kerm-estructura .unidad-larga .medida-3 {
          height: 396px;
          padding: 45px 15px 25px 15px; } }
  @media screen and (max-width: 767px) and (max-width: 359px) {
    .kerm-estructura .unidad-larga .medida-3 {
      height: 436px;
      padding: 45px 15px 25px 15px; } }

    .kerm-estructura .unidad-larga .unidad {
      box-sizing: border-box;
      width: 50%;
      background-color: #e3e3e3;
      float: left;
      margin: 0px;
      border: none;
      border-image-width: none; }
      @media screen and (max-width: 767px) {
        .kerm-estructura .unidad-larga .unidad {
          width: 80%; } }
      .kerm-estructura .unidad-larga .unidad h2 {
        color: #dd1100;
        font-size: 20px;
        font-family: uniboldcon;
        text-transform: uppercase; }
      .kerm-estructura .unidad-larga .unidad p {
        font-family: unilight;
        line-height: 1.43;
        font-size: 14px;
        color: #21282c; }

.kerm-values {
  text-align: center;
  background-color: #6d6d6d;
  padding: 60px 0px; }
  .kerm-values h2 {
    font-family: uninormal;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff; }
  .kerm-values .valores {
    margin-top: 50px; }
    @media screen and (max-width: 1250px) {
      .kerm-values .valores {
        margin-top: 20px; } }
    @media screen and (max-width: 767px) {
      .kerm-values .valores {
        margin-top: 30px; } }
    .kerm-values .valores div {
      font-family: unilight;
      font-size: 40px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-bottom: 40px; }
      @media screen and (max-width: 1250px) {
        .kerm-values .valores div {
          font-size: 24px; } }
      @media screen and (max-width: 767px) {
        .kerm-values .valores div {
          margin-bottom: 10px;
          font-size: 28px; } }

/****Quality** */
.kerm-bg-quality-2 {
  width: 100%;
  padding-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  color: #fff; }
  .kerm-bg-quality-2 .mensaje-cubierto {
    background-color: #fff;
    width: 400px;
    height: 100vh;
    margin-right: 15%;
    margin-left: 50%;
    padding: 80px 40px;
    color: #757575; }
    @media screen and (max-width: 1250px) {
      .kerm-bg-quality-2 .mensaje-cubierto {
        width: 384px; } }
    @media screen and (max-width: 767px) {
      .kerm-bg-quality-2 .mensaje-cubierto {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        padding: 45px 15px; } }
    .kerm-bg-quality-2 .mensaje-cubierto .primer-caja {
      margin-bottom: 100px; }
      @media screen and (max-width: 359px) {
        .kerm-bg-quality-2 .mensaje-cubierto .primer-caja {
          margin-bottom: 40px; } }
      .kerm-bg-quality-2 .mensaje-cubierto .primer-caja h3 {
        font-family: unilight;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: normal;
        color: #757575; }
      .kerm-bg-quality-2 .mensaje-cubierto .primer-caja ul {
        list-style-type: none;
        padding-left: 0px;
        color: #757575;
        font-family: unilight;
        font-size: 14px; }
    .kerm-bg-quality-2 .mensaje-cubierto .primer-caja:last-child {
      margin-bottom: 0px; }

footer {
  background-color: #dd1100;
  min-height: 460px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px; }
  footer ul {
    list-style-type: none;
    padding-left: 0px; }
    footer ul li {
      font-family: unilight;
      font-size: 19px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      margin-bottom: 30px; }
  footer div.redes-sociales {
    text-align: right; }
    footer div.redes-sociales a {
      margin-right: 5px; }
      footer div.redes-sociales a i {
        font-size: 14px;
        background-color: #9a9c9c;
        border-radius: 50%;
        color: #fff; }
      footer div.redes-sociales a i.fa-facebook {
        padding: 10px 12px; }
      footer div.redes-sociales a i.fa-envelope {
        padding: 10px 10px; }
      footer div.redes-sociales a i.fa-twitter {
        padding: 10px 10px; }
    footer div.redes-sociales a:last-child {
      margin-right: 0px; }
  footer address {
    margin-top: 20px;
    display: block;
    font-family: unilight;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-align: right;
    color: #fff; }
  footer div.copyright {
    margin-top: 90px;
    text-align: center; }
    footer div.copyright span {
      font-family: unilight;
      font-size: 19px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }

/****Native mobile*** */
@media screen and (max-width: 767px) {
  .mobile-mb {
    margin-bottom: 40px; } }
.navbar-default {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: transparent;
  transition: ease-in 200ms; }

.navbar-toggle {
  margin-top: 19px; }

.navbar {
  min-height: 70px;
  margin-bottom: 0px;
  font-family: "uniboldcon";
  font-weight: bold; }

.navbar-brand {
  margin-top: 10px; }

.navbar-default .navbar-nav > li {
  margin-right: 12px; }

.navbar-default .navbar-nav > li:last-child {
  margin-right: 0px; }

.navbar-nav > li > a {
  padding-top: 6px;
  padding-bottom: 5px; }

.nav > li > a {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.navbar-default .navbar-nav > li > a {
  margin-top: 19px;
  color: rgba(255, 255, 255, 0.8);
  transition: ease-in 200ms;
  text-transform: uppercase; }

.navbar-default .navbar-nav > li > a:last-child {
  margin-bottom: 19px; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.99);
  background-color: transparent; }

.navbar-brand {
  margin-top: 5px; }
  .navbar-brand img {
    display: inline-block; }
  .navbar-brand span.logo-nombre {
    margin-left: 4px;
    position: relative;
    top: 4px;
    display: inline-block;
    font-family: unilightcn;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.6px; }
    .navbar-brand span.logo-nombre span {
      font-family: uniboldcon;
      font-weight: bolder; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }

.activo {
  border: 1px solid #fff;
  border-radius: 5px; }

/*# sourceMappingURL=main.css.map */
