@import 'https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i|Open+Sans:400,300,900';
@import 'https://fonts.googleapis.com/css?family=Poiret+One';

html{
	padding: 0;
	padding-top: 100px;
	/*background: #F4F4EF;*/
}

body{
		margin: 0px;
}

.container{
	max-width: 1500px;
	margin: 0 auto;
}

.section{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}

#second{
	background: #F4F4EF;
	margin-top: 35px;
	padding: 20px;
}

#cover{
	height: 500px;
	/*padding: 15px;*/
	background: white;
	margin-bottom: 2px;
}

.desc{
	padding: 30px;
	padding-top: 50px;
	padding-right: 50px;
}

.img{
	margin-right: 30px;
	background: url("cover.jpg") center center;
	width: 60%;
	height: 100%;
	background-size: cover;
	float: left;
}

h3{
	text-transform: uppercase;
	margin: 0px;
	margin-bottom: 20px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
	font-size: 11px;
	color: #166DF7;
}

.text{
	font-family: 'Gentium Basic',sans-serif;
	/*text-transform: uppercase;*/
	font-size: 20px;
	font-style: italic;
	line-height: 1.4;
	margin: 0px;
}

.lmas{
	color: #166DF7;
	font-family: 'Open Sans',sans-serif;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 13px;
	display: inline-block;
	margin-top: 30px;
}

.nota{
	width: 350px;
	margin: 0px;
	display: inline-block;
	padding: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

.minimg{
	width: 300px;
	height: 300px;
	background: url("img/photo1.jpg");
	background-size: cover;
	margin: 30px;
	margin-bottom: 15px;
}

.feedback{
	font-family: 'Poiret One', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
}

.feedback span{
	color: #166DF7;
}

h4{
	font-family: 'Poiret One', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	margin: 0px;
	margin-bottom: 20px;
}

h1{
	/*color: #166DF7;*/
	font-size: 60px;
	margin: 0px;
	margin-bottom: 20px;
	line-height: 1;
	letter-spacing: 0px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Poiret One', sans-serif;
}