@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

*{-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}

body{
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Lato', sans-serif;
	color: #404040;
}

.inner{width: 100%; text-align: center;}
.outer{width: 900px; margin: 0 auto;}

.cover{
	padding: 20px;
	text-align: left;
	margin-top: 50px;
}

.main-title{
	font-size: 30px;
	font-weight: 900;
	margin: 35px 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	padding-top: 30px;
}

.subtitle{
	font-size: 20px;
	font-weight: 400;
	color: #606060;
}

.subtitle span{
	font-weight: 900;
}

.desc{
	font-size: 16px;
	font-weight: 900;
	color: #2EBD88;
}

.btn-area{
	margin-top: 60px;
	margin-bottom: 50px;
}

.btn{
	padding: 15px 20px;
	border-radius: 5px;
	margin-right: 10px;
	text-decoration: none;
	border: 2px solid #2EBD88;
	font-weight: 700;
	font-size: 16px;
}

.btn-visible{
	background: #2EBD88;
	color: white;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.btn-visible:hover{
	background: #30C498;
	border: 2px solid #30C498;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2);

}

.btn-invisible{
	color: #2EBD88;
}

.question-area{
	margin-top: 60px;
}

.row{
	overflow: auto;
	zoom: 1;
	margin-bottom: 0px;
}

.grid{
	width: 15%;
	float: left;
}

.fst-grid{
	width: 25%;
}

.button{
	margin: 5px;
	background: #f3f3f3;
	height: 50px;
	cursor: pointer;
}

.button:hover{background: #DCFAEF;}
.selected, .selected:hover{background: #AFF5DC;}
.unselected{background: #f3f3f3;}

.t-row{
	display: block;
	text-align: center;
	font-size: 15px;
	font-weight: 900;
	border-bottom: 1px solid white;
	margin-bottom: 10px
}

/* mod */

.fst-big .grid{
	width: 12%;
}

.fst-big .fst-grid{
	width: 20%;
}

.fst-big .button{
	height: 80px;
}

.fst-big .g-med{
	width: 32%;
	padding-left: 5px;
}

.fst-big .g-med > .t-row{
	/*font-size: 13px;*/
	color: #2EBD88;
	text-align: right;
	/*margin-top: 5px;*/
}

.g-great{
	margin-bottom: 10px;
}

.g-great .grid{
	width: 25%;
	padding: 0px 5px;
}

.g-great .fst-grid{
	width: 25%;
	padding: 0px;
}

.g-three .grid{
	width: 15%;
}

.g-three .fst-grid{
	width: 55%;
}

.g-three .fst-grid > .t-row{
	text-align: right;
	font-size: 17px;
}

.g-three .fst-grid{
	text-align: right;
	padding-right: 20px;
}

.aspectos .fst-grid{
	text-align: right;
	padding-right: 10px;
}

.g-three p.name{
	font-size: 15px;
	color: #707070;
	font-weight: 700;
	padding-top: 20px;
}

p.name{
	font-size: 16px;
	font-weight: 900;
	padding: 0px;
	margin: 0px;
	padding-top: 10px;
}

p.name > span{
	font-size: 13px;
	font-weight: 900;
	color: #b9b9b9;
}

p.pregunta{
	margin: 0px;
	font-size: 17px;
	font-weight: 900;
	margin-bottom: 8px;
}

.percepciones .row{
	margin-bottom: 30px;
}

input[type="text"]{
	border: none;
	width: 250px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: #f0f0f0;
	padding: 5px 10px;
	border-radius: 10px;
	font-weight: 700;
}

input[type="text"].amigos{
	width: 400px;
	margin-bottom: 10px;
}

input[type="text"].i-med{
	width: 100%;
	border-radius: 0px;
	margin-top: 5px;
	margin-bottom: 7px;
	font-size: 14px;
	padding: 8px 10px;
	background: rgba(0,0,0,0.02);
}

input[type="radio"]{
	margin-top: 12px;
}

label{
	font-size: 15px;
	font-weight: 700;
	color: #797979;
}

.contactado{
	margin-top: 0px;
	margin-bottom: 50px;
}

.contactado label{
	font-size: 14px;
	font-weight: 900;
	color: #898989;
}

select{
	width: 100%;
	background: rgba(0,0,0,0.02);
	border: none;
	font-size: 13px;
	padding: 10px;
}