@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700,800,900');

*{-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}

body{
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Lato', sans-serif;
	color: #525252;
	background: #FEFEFD;
}

.inner{
	width: 100%;
	text-align: center;
}

.outer{
	width: 900px;
	margin: 0 auto;
}

.grid{
	width: 140px;
	height: 100px;
	float: left;
	display: inline-block;
	position: relative;
	padding: 7px;
}

.grid-2{
	width: 450px;
	text-align: left;
	height: auto;
	letter-spacing: 0.5px;
	font-size: 12px;
	padding: 10px;
}

.grid-5{
	width: 180px;
}

.grid > div{
	height: 100%;
	cursor: pointer;
}

.grid > div.un-selected{
	background: #f9f9f9;
}

.grid > div.selected{
	background: #AFF5DC;
}

.grid > div.selected:hover{
	background: #AFF5DC;
}

.grid > div:hover{
	background: #DCFAEF;
}

.f-grid{
	padding: 0px 15px;
	width: 200px;
	line-height: 1.2;
	text-align: left;
	color: #595959;
	font-size: 19px;
}

.f-grid > p > span{
	color: #a9a9a9;
	font-size: 11px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.grid p{
	position: absolute;
	width: 100%;
	margin: 0px;
	bottom: 10px;
	font-weight: 700;
	padding: 5px;
}

.grid-2 p{
	position: static;
	margin-bottom: 5px;
	font-size: 14px;
	text-transform: none;
}

.grid-2 p.amigos{
	font-size: 15px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.percepciones .grid{
	height: 140px;
}

.percepciones .f-grid{
	width: 340px;
}

.percepciones .grid > p{
	font-size: 16px;
	padding-right: 20px;
	padding-left: 0px;
}

.percepciones .t-row > .grid > p{
	font-size: 11px;
	padding: 7px;
}

.hr{
	height: 1px;
	background-color: black;
}

.row{
	overflow: auto;
	zoom: 1;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	/*background: white;*/
	/*margin-bottom: 10px;*/
	/*border-radius: 10px;*/
}

.row:last-child{
	border-bottom: none;
}

.t-row{
	color: #595959;
	background: none;
	border: none;
	margin-bottom: 5px;
}

.t-row p{
	font-weight: 900;
	font-size: 11px;
	letter-spacing: 1.2px;
	line-height: 1.4;
	text-transform: uppercase;
	color: #595959;
}

.t-row .grid{
	padding: 0px;
}

.amigo{
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding-top: 30px;
	padding-bottom: 30px;
}

.amigo > .row{
	border-bottom: none;
	margin-bottom: 0px;
}

.next{
	margin: 70px 0px;
	margin-top: 50px;
	text-align: left;
	padding-left: 12px;
}

.next button{
	padding: 15px 70px;
	background: #30C78F;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: px;
	font-family: 'Lato', sans-serif;
}

select{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	width: 100%;
	border: none;
	background: #f9f9f9;
	font-weight: 700;
	color: #a0a0a0;
}

input{
	padding: 1px 7px;
	background: none;
	background: #f9f9f9;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #a0a0a0;
	border: none;
	width: 100%;
	font-size: 14px;
	border-radius: 5px;
}